[submodule ".config/mpv/scripts/mpvSockets"]
	path = .config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/mpv/scripts/subs2srs"]
	path = .config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule "/.config/mpv/scripts/videoclip"]
	path = .config/mpv/scripts/videoclip
	url = git@github.com:Ajatt-Tools/videoclip.git
