[submodule ".config/mpv/scripts/mpvSockets"]
	path = .config/mpv/scripts/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/mpv/scripts/subs2srs"]
	path = .config/mpv/scripts/subs2srs
	url = https://github.com/Ajatt-Tools/mpvacious.git
[submodule ".config/mpv/scripts/videoclip"]
	path = .config/mpv/scripts/videoclip
	url = https://github.com/Ajatt-Tools/videoclip.git
[submodule ".config/mpv/scripts/autosubsync"]
	path = .config/mpv/scripts/autosubsync
	url = https://github.com/Ajatt-Tools/autosubsync-mpv.git
[submodule ".config/mpv/scripts/sub-transition"]
	path = .config/mpv/scripts/sub-transition
	url = https://github.com/Ajatt-Tools/sub-transition.git
