# Local or machine-specific shell aliases
/.config/shell/localrc
# Machine-specific icc profiles
/.local/share/icc
# Various firefox profiles
/.local/share/applications/firefox-*
# Everyone has their own bookmarks
/.config/newsboat/urls

# Cache
mimeinfo.cache
