[Desktop Entry]
Type=Application
Name=LF File Manager
Comment=Browse the filesystem with the file manager
GenericName=File Manager
Icon=system-file-manager
Exec=i3-sensible-terminal --title lf -e lf %f
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
