[Desktop Entry]
Version=1.0
Type=Application
Exec=mpv "https://mov3.co/en/tvtokyo/"
Name=テレビ東京
GenericName=TV Tokyo
Comment=Watch TV
Icon=mpv
Terminal=false
StartupNotify=true
Categories=Video;Player;TV;
StartupWMClass=mpv
